<html>
  <head>
    <title>tilde.farm</title>
    <meta name="viewport" content="width=768"/>
  <head>

  <body>
    <style type="text/css">
      body { background-color: black; color: rgb(255,216,128); padding: 4em; font-family: Ubuntu Mono, DejaVu Sans Mono, Droid Sans Mono, Liberation Mono, Monospace; }
      a { color: rgb(255,216,128); text-decoration: underline; }
      a:visited { color: rgb(192,160,96); }
      a:hover { color: white; }
      p.hr { color: rgb(128,255,128); }
      * { font-size: 12pt; }
    </style>

<p class="hr">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <pre>< welcome to <%= @site_name %>! >
        \   ^__^
         \  (**)\_______
            (__)\       )\/\
             U  ||----w |
                ||     ||
</pre>
<p>tilde.farm is a shared linux system. our mission is to promote the experience<br/>
of multi-user computing in an unstable and confusing environment. in pursuit of<br/>
this goal, tilde.farm runs <a href="http://www.gentoo.org/">gentoo linux</a>. to provide a resonable semblance of<br/>
sanity to this endeavor, we use <a href="http://puppetlabs.com/">puppet</a> for configuration management.</p>

<p>tilde.farm offers secure shell, local irc and mail, and web hosting services.<br/>
registration of new accounts is currently <b>open</b>. if you would like to join,<br/>
please email <b><a href="mailto:cmr@mdc2.org">cmr@mdc2.org</a></b> and be sure to include your preferred username and an<br/>
ssh public key. there is no cost for membership.</p>

<p class="hr">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p>Host <%= @fqdn %>, running <%= @operatingsystem %> <%= @operatingsystemrelease %><br/>
Uptime: <%= @uptime %><br/>
</p>
Total users: <%= scope['::tilde::users'].size %>
<ul>
