<html>
  <head>
    <title>tilde.farm</title>
  <head>

  <body>
    <style type="text/css">
      body { background-color: black; color: rgb(255,225,148); padding: 4em; font-family: Ubuntu Mono, DejaVu Sans Mono, Droid Sans Mono, Liberation Mono, Monospace; }
      a { color: rgb(0,255,0); }
      a:visited { color: rgb(0,192,0) }
      a:hover { color: white; }
      * { font-size: 12pt; }
    </style>

    <pre>< welcome to <%= @site_name %>! >
        \   ^__^
         \  (**)\_______
            (__)\       )\/\
             U  ||----w |
                ||     ||
</pre>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p>Host <%= @fqdn %>, running <%= @operatingsystem %> <%= @operatingsystemrelease %><br/>
Uptime at last index refresh: <%= @uptime %><br/>
</p>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
Total users: <%= scope['::tilde::users'].size %>
<ul>
