<html>
  <head>
    <title>tilde.farm</title>
  <head>

  <body style="background-color: black; color: rgb(255,225,148)">
    <pre style="font-family: DejaVu Sans Mono, Droid Sans Mono, Liberation Mono, Monospace">< welcome to <%= @site_name %>! >
        \   ^__^
         \  (**)\_______
            (__)\       )\/\
             U  ||----w |
                ||     ||
</pre>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p>Host <%= @fqdn %>, running <%= @operatingsystem %> <%= @operatingsystemrelease %><br/>
Uptime at last index refresh: <%= @uptime %><br/>
</p>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
Total users: <%= scope['::tilde::users'].size %>
<ul>
